.img-hero {
  width: 100%;
}
.about-header {
 
  width: 100%;
  padding: 20px 0px;
   /*color: #fff;
  background: url("../img/bg-hero.jpg");*/
}
.about-header .top {
  padding: 20px 0px 20px 0px;
  margin-bottom: 30px;
}
.about-header .hot-line {
  float: left;
  font-weight: bold;
}
.about-header .center {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.about-header .social {
  float: right;
}
.about-header .navbar-nav {
  list-style: none;
}
.about-header .navbar .navbar-nav .nav-item {
  margin-left: 30px;
  top: 0;
  bottom: 0;
  margin: auto 30px 10px;
}
.about-header .navbar .navbar-nav .nav-item a {
  color: #fff;
}
.about-header .about-content-left {
  padding: 30px 0px;
  float: left;
}
.about-header .about-content-left .description {
  padding: 20px 0px;
  float: left;
}
.about-header .about-content-left .name {
  font-size: 30px;
  font-weight: bold;
}
.about-header .about-content-left .title {
  font-weight: bold;
  font-size: 16px;
}
.about-header .about-content-left ul {
  list-style-type: none;
  list-style-image: url("../img/bullet.png");
  margin-left: 30px;
}
.about-header .about-content-left ul li {
  margin-bottom: 10px;
}
.about-header .about-content-left .btn-register {
  background: url("../img/btn-cta.png");
  width: 225px;
  height: 65px;
  float: left;
}
.section {
  padding: 60px 0px;
  
}
.section .box {
  text-align: center;
}
.section .title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.section .title::after {
  content: "";
  border-bottom: 3px solid #ff3333;
  width: 40px;
  display: block;
  margin: 10px auto;
}
.section .img {
  margin: 10px auto;
}
.section .box-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.section.sec-1 {
  padding: 60px 0px;
  background:#eee;
  
}
.section.sec-1 .title {
  margin: 50px auto;
  max-width: 500px;
  font-weight: normal;
}
.section.sec-1 .title:after {
  content: "";
  border-bottom: 3px solid #fff;
  width: 40px;
  display: block;
  margin: 10px auto;
}
.section.sec-1 .description {
  margin: 0px auto;
    max-width: 65%;
    padding: 30px 0px;
    text-align: center;
    font-size: 21px;
    font-style: italic;
  
}
.section.sec-1 .video {
  margin: 0px auto;
  max-width: 560px;
  height: 315px;
}

