.text-content {
  width: 15%;
  word-break: break-all;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  vertical-align: middle !important;
}
.text-header {
  text-align: center;
  vertical-align: middle !important;
}
.disable {
  display: none;
}
