body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
.w3-bar-block {
  display: block;
  z-index: 5;
  height: 190px;
  width: 240px;
  top: 70px;
  background-color: #fff;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 1;
  overflow: auto;
  border-right: 1px solid #f1f1f1;
}
.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 1;
  overflow: auto;
}
.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 20px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.sidebar .sidebar-logo {
  width: 129px;
}
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}
#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #eee;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#dismiss .icon-close {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(img/svg-icons.svg?v=28.05.2020) no-repeat -185px -11px
    transparent;
}
.sidebar ul.nav li {
  margin: 7px 0;
}
.sidebar ul.nav li .icon-menu {
  width: 30px;
}
.sidebar ul.nav li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 7px 20px 6px 45px;
  font-weight: 400;
  position: relative;
}
.sidebar ul.nav li a.btn-post{
  padding:5px 20px;
}
.sidebar ul.nav li .download-app {
  float: left;
}
.sidebar ul.nav li .download-app .link-app {
  float: left;
  width: 110px;
  padding: 0px;
}
.sidebar ul.nav li .download-app .link-app .img-app {
  float: left;
  width: 110px;
}
.sidebar li a.item-buy:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -62px -812px;
  left: 5px;
  top: 0;
}

.sidebar li a.item-rent:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -543px -1231px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-project:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -421px -886px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-news:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -267px -811px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-price:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -302px -618px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-service:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -215px -812px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-location:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -369px -812px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-recruitment:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -579px -813px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-cooperation:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -163px -812px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-about:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -420px -812px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-hotline:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("img/svg-icons.svg?v=28.05.2020");
  position: absolute;
  background-position: -474px -818px;
  left: 5px;
  top: 0;
}
.sidebar li a.item-download:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("img/svg-icons.svg?v=28.05.2020");
  background-position: -528px -818px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}
